name: Deploy Release

run-name: Deploy  |  ${{ github.ref_name }}  |  us-east-1

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Show deployment info
        run: |
          echo "Tag: ${{ github.ref_name }}"
          echo "Region: us-east-1"
