name: Deploy Release

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        region:
          - us-east-1
          - ap-south-1

    name: Deploy | ${{ matrix.region }}

    steps:
      - name: Show deployment info
        run: |
          echo "Tag: ${{ github.ref_name }}"
          echo "Region: ${{ matrix.region }}"
