name: Deploy Release

run-name: Deploy -> ${{ inputs.region }}

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Release tag (example: v1.0.0)"
        required: true
      region:
        description: "AWS Region"
        required: true
        type: choice
        options:
          - us-east-1
          - ap-south-1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tag
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}

      - name: Deploy
        run: |
          echo "Deploying tag ${{ inputs.tag }} to region ${{ inputs.region }}"
