name: Deploy

run-name: Deploy ${{ inputs.tag }}

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Tag = ${{ inputs.tag }}"
