name: Deploy Release

run-name: Deploy -> us-east-1

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying ${{ github.ref_name }} to us-east-1"
