name: Deploy Prod (us-east-1)

run-name: Deploy -> us-east-1

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to us-east-1
        run: |
          echo "Deploying version ${{ github.ref_name }} to us-east-1"
