name: Deploy Release

run-name: Deploy | us-east-1 | ${{ github.ref_name }}

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Print info
        run: |
          echo "Tag: ${{ github.ref_name }}"
          echo "Region: us-east-1"
